/*
  6-nested_hover.scss
  Author: Boodenator
  Description: This file contains styles for button elements. 
               The button text color is red by default and changes to green when hovered.
  Date: 2024-12-21
*/

button {
  color: red; // Set initial text color to red

  &:hover {
    color: green; // Change text color to green when hovered
  }
}
